body {
    background-color: #222; /* Um fundo cinza bem escuro */
    color: #eee; /* Uma cor de texto cinza bem claro */
    font-family: Arial, sans-serif; /* Uma fonte mais moderna que a padrão */
    text-align: center; /* Centraliza todo o texto da página */
}

.foto-perfil {
    width: 200px; /* Define a largura da imagem */
    height: 200px; /* Define a altura da imagem */
    border-radius: 50%; /* A mágica para transformar a imagem em um círculo */
    border: 5px solid #00a8ff; /* Adiciona uma borda azul ao redor da foto */
    object-fit: cover; /* Garante que a foto preencha o círculo sem distorcer */
}

